/* Background */

.stApp{
    background-color:#F7F9FC;
}


/* Title */

h1{
    color:#0F172A;
    text-align:center;
}


/* Button */

.stButton>button{

    width:100%;

    height:55px;

    font-size:20px;

    font-weight:bold;

    border-radius:10px;

    background:#2563EB;

    color:white;

}


.stButton>button:hover{

    background:#1D4ED8;

    color:white;

}